.my-profile img {
    position: relative;
    float: left;
    width: 350px;
    border-radius: 15px;
    margin-left: 150px;
    margin-top: 100px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.my-profile h1 {
    font-size: 30px;
    color: #125B50;
    text-align: center;
    margin-right: 130px;
    padding-top: 100px;

}

.my-profile p {
    float: right;
    font-size: 25px;
    color: #73777B;
    width: 60%;
    margin-top: 50px;
}



@media screen and (max-width: 768px) {

    .my-profile img {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
    }
    

    
    .my-profile h1 {
        
        width: 100%;
        margin: 0;
    }
    
    .my-profile p {
       
    }
}

@media screen and (max-width:1024px) and (min-width:769px) {}

@media screen and (max-width:1200px) and (min-width:1025px) {}

@media screen and (min-width:1201px) {}