.p{

    width: 30%;
    height: 30vh;
    overflow: hidden;
    padding: 2rem;
    padding-top: 70px;
    pointer-events: auto;
    border-radius: 20px;
    line-height: 45px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    
}

.p button {
    background-color: #E2DCC8;
    color: #323232;
}

.p button:hover {
    background-color: #125B50;
    color: white;
}

.p:hover {
    transform: scale(1.15);
}

